// Road -> Container -> Inline
// Container -> Stacked

// Spacing Container
$spacing-inset-40: 40px;
$spacing-inset-30: 30px;
$spacing-inset-20: 20px;
$spacing-inset-10: 10px;


// Spacing Content - Vertical
$spacing-stacked-80: 80px;
$spacing-stacked-70: 70px;
$spacing-stacked-60: 60px;
$spacing-stacked-50: 50px;
$spacing-stacked-40: 40px;
$spacing-stacked-30: 30px;
$spacing-stacked-20: 20px;
$spacing-stacked-15: 15px;
$spacing-stacked-10: 10px;

// Spacing Component - Inline and Inside
$spacing-inline-60: 60px;
$spacing-inline-50: 50px;
$spacing-inline-30: 30px;
$spacing-inline-20: 20px;
$spacing-inline-15: 15px;
$spacing-inline-10: 10px;
$spacing-inline-5: 5px;


// Spacing Road (Section and Around Component)
$spacing-road-60: 60px;
$spacing-road-30: 30px;
$spacing-road-20: 20px;