/* Custom Widget Styles */

@import "../../../sass/abstracts/abstracts";

.site-content #secondary.widget-area {
    padding: 0 15px;
    overflow-x: hidden;
}

.wpcf7-form {
    .wpcf7-form-control {
        border-color: #bdbdbd;
        color: #bdbdbd;
        height: 41px;
        padding: 10px 20px;
        border-radius: 0;
        margin-bottom: 20px;
        font-size: 13px;
        outline: none;
        font-family: "Montserrat";

        &::placeholder {
            text-transform: uppercase;
            color: #bdbdbd;
        }
    }

    .form-button {
        position: relative;
        display: inline-block;
        width: auto;
        background: #000000;
        border: 1px solid #000000;

        &:hover {
            background-color: #99521F;
            border-color: #99521F;
            color: #fff;
        }

        .wpcf7-spinner {
            width: 24px !important;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }

        .icon {
            color: #fff;
            position: absolute;
            top: 50%;
            right: 20px;
            left: auto;
            transform: translate(0, -50%);
            z-index: 1;
        }
    }

    .wpcf7-submit {
        background: none;
        border: none;
        padding: 10px 50px 10px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }

    .wpcf7-not-valid-tip {
        margin-bottom: 20px;
    }

    .wpcf7-response-output {
        margin: 30px 0 0;
    }
}

#sb_instagram {
    .sb_instagram_header {
        margin-bottom: 30px !important;
        text-align: center;

        a {
            float: none;
            display: inline-block;
        }
    }

    #sbi_load {
        margin-top: 30px;

        a {
            background: #000000;
            border-color: #000000;
            padding: 10px 15px;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            margin-bottom: 0;
            box-shadow: none;
            border-radius: 0;
    
            &:hover {
                background-color: #99521F;
                border-color: #99521F;
                color: #fff;
            }

            svg {
                position: relative;
                top: -2px;
            }
        }
    }
}

.widget {
    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .posts__widget {
        display: flex;
        flex-wrap: wrap;
        margin: -25px -10px;

        .item {
            width: calc(100% / 3);
            padding: 25px 10px;
        }

        .image {
            margin-bottom: 20px;

            a {
                display: inline-block;
            }
        }

        .post-cat {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;
            position: relative;
            display: flex;
            align-items: center;

            @include heading-section(left, sideline, false, #CCC, $color_active);

            a {
                margin: 0 10px;
                position: relative;
                top: -5px;
                color: inherit;
                transition: all 0.4s;

                &:hover {
                    color: #99521F;
                    transition: all 0.4s;
                }
            }
        }

        .post-name {
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 0;
            font-family: "Playfair Display";

            a {
                color: black;
                font-size: inherit;

                @include effect-hover-underline-1px();
               
            }
        }

        .post-meta {
            display: flex;
            align-items: center;
            font-family: "Playfair Display";
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 14px;
            margin-left: 0;
            margin-bottom: 20px;

            li {
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    width: 1px;
                    height: 14px;
                    display: inline-block;
                    background-color: #333;
                    transform: rotate(15deg);
                    margin: 0 10px 0 7px;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                a {
                    font-size: inherit;
                    color: inherit;
                    transition: all 0.4s;

                    &:hover {
                        color: #99521F;
                        text-decoration: underline;
                        text-underline-position: under;                        
                        transition: all 0.4s;
                    }
                }
            }
        }

        .post-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            .btn {
                margin-right: 15px;

                .icon {
                    margin-left: 10px;
                }
            }
        }

        .post-share {
            display: flex;
            align-items: center;

            label {
                font-size: 14px;
                color: #000;
                margin-right: 20px;

                &:before {
                    content: url(../images/icon-04.svg);
                    width: 37px;
                    height: 17px;
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    top: 3px;
                }
            }

            ul {
                margin-left: 0;
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    margin-bottom: 0;
                    margin-left: 10px;
                }
            }
        }

        &.style-1 {
            margin: -20px 0;

            .item {
                width: 100%;
                padding: 20px 0;
            }

            .post {
                display: flex;
                flex-wrap: wrap;
            }

            .image {
                max-width: 110px;
                width: 100%;
                margin-bottom: 0;

                * {
                    height: 100%;
                }

                img {
                    object-fit: cover;
                }
            }

            .content {
                width: 100%;
                max-width: calc(100% - 110px);
                padding-left: 20px;
            }

            .post-cat {
                &::before,
                &::after {
                    display: none;
                }

                a {
                    margin: 0;
                }
            }

            .post-name {
                font-size: 18px;
                margin-bottom: 12px;
            }

            .post-meta {
                margin-bottom: 0;

                li {
                    margin-bottom: 0;
                }
            }
        }

        &.style-2,
        &.style-03 {
            .post {
                position: relative;
            }

            .image {
                margin-bottom: 0;
                position: relative;                

                a {
                    display: block;
                    
                    img {
                        width: 100%;
                    }

                    &::after {
                        content: '';
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.94%, rgba(0, 0, 0, 0.64) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;                        
                    }                    

                }

                @include effect-hover-border();

            }

            .content {
                position: absolute;
                left: 0;
                bottom: 80px;
                width: 100%;
                text-align: center;
                color: #fff;
                padding: 0 40px;
            }

            .post-name {
                font-size: 24px;
                color: #fff;
                text-align: center;
                margin-bottom: 20px;
            }

            .post-cat {
                justify-content: center;
                @include heading-section(left, sideline, false, #CCC, $color_active);
            }

            .post-meta {
                justify-content: center;
                margin-bottom: 0;

                li {
                    margin-bottom: 0;

                    &::after {
                        background-color: #fff;
                    }
                }
            }
        }

        &.style-03 {
            .slick-dots {
                position: relative;
                bottom: 85px;
                left: 65px;
                transform: translate(-50%, -50%);
                display: flex;

                button {
                    width: 10px;
                    height: 10px;
                    font-size: 0;
                    border-radius: 5px;
                    border: none;
                    margin: 4px;
                    padding: 0;
                    cursor: pointer;
                    transition: transform 0.4s;
                    &:hover {
                        transform: scale(1.5, 1.5);
                    }
                }
    
                .slick-active {
                    transform: width 0.4s; 
                    button {
                        border: solid 1px white;
                        background-color: transparent;
                    }                   
                }
            }

            .post-name {
                text-align: left;
            }

            .post-cat,
            .post-meta {
                justify-content: flex-start;
            }
        }

        &.posts-slider {
            .item {
                padding: 10px;
            }
        }
    }

    .follow__us__module {
        ul {
            display: flex;
            align-items: center;
            margin-left: 0;
            margin: -5px -20px;

            li {
                list-style: none;
                padding: 5px 20px;
                margin-bottom: 0;
                line-height: 1.1;

                a {
                    font-size: 30px;
                }
            }
        }
    }

    .newsletters__module  {
        .form-group {
            * {
                width: 100%;
            }
        }

        .wpcf7-checkbox {
            padding: 0;
            padding-left: 40px;
            position: relative;
            display: block;
            height: auto;

            span {
                margin: 0;
            }

            input {
                width: 100%;
                height: 100%;
                border-color: #bdbdbd;
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
                font-family: "Montserrat";
                z-index: 99;
                opacity: 0;

                &:checked {
                    ~ .wpcf7-list-item-label {
                        &:after {
                            opacity: 1;
                            visibility: initial;
                        }
                    }
                }
            }

            .wpcf7-list-item-label {
                &:before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    border: 1px solid #bdbdbd;
                    display: inline-block;
                    position: absolute;
                    top: 8px;
                    left: 0;
                }

                &:after {
                    content: "\f00c";
                    font-family: "FontAwesome";
                    display: inline-block;
                    position: absolute;
                    top: 4px;
                    left: 2px;
                    font-size: 16px;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .form-group-button {
            text-align: right;
        }

        .form-button {
            width: auto;
        }
    }

    #sb_instagram {
        #sbi_load {
            text-align: right;
        }
    }
}

@media (max-width: 1399px) {
    .widget .posts__widget.style-1 .content {
        padding-left: 15px;
    }
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}

@media (max-width: 479px) {    
    .widget .follow__us__module ul {
        margin: -5px -10px;

        li {
            padding: 5px 10px;
        }
    }
}