$radius_100: 100%;         // for circle
$radius_x6: 96px;
$radius_x5: 80px;
$radius_x4: 64px;
$radius_x3: 48px;
$radius_25: 40px;
$radius_x2: 32px;
$radius_15: 24px;
$radius_x1: 16px;
$radius_75: 12px;
$radius_05: 8px;
$radius_25: 4px;           // for small radius
$radius_125: 2px;          // for tiny radius