$size__site-main: 735px;
$size__site-single: 820px;
$size__site-sidebar: 410px;

$size-site-xxxl:  1280px; // @media min-width: 1280px max-width:1240px
$size-site-xxl:  1240px; // @media min-width: 1240px max-width:1200px
$size-site-xl:   1120px; // @media min-width: 1120px max-width:1080px
$size-site-lg:   1020px; // @media min-width: 1020px max-width:980px
$size-site-md:   760px;  // @media min-width: 760px max-width:720px
$size-site-sm:   576px;  // @media else max-width: 100%

// spacings concepts
$spacing-1: 100px;
$spacing-2: 80px;
$spacing-3: 60px;
$spacing-4: 50px;
$spacing-5: 40px;
$spacing-6: 30px;
$spacing-7: 20px;
$spacing-8: 10px;

// border-radius concepts
$radius-1: 100px;
$radius-2: 80px;
$radius-3: 60px;
$radius-4: 50px;
$radius-5: 40px;
$radius-6: 30px;
$radius-7: 20px;
$radius-8: 10px;
$radius-9: 5px;
$radius-10: 2px;

/////////////////////////////////

$spacing-bottom-15: 15px;
$spacing-bottom-33: 33px;
$spacing-bottom-55: 55px;
$spacing-bottom-58: 58px;